/*
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: 
    local("PT Sans"), 
    local("PTSans-Regular"),
    url("../fonts/roboto-regular.woff2") format("woff2"),
    url("../fonts/roboto-regular.woff") format("woff");
}
*/
/*
@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: 
    local("PT Sans Italic"), 
    local("PTSans-Italic"),
    url("../fonts/roboto-italic.woff2") format("woff2"),
    url("../fonts/roboto-italic.woff") format("woff");
}
*/
/*
@font-face {
  font-family: "PT Sans";
  font-style: bold;
  font-weight: 700;
  src: 
    local("PT Sans Bold"), 
    local("PTSans-Bold"),
    url("../fonts/roboto-bold.woff2") format("woff2"),
    url("../fonts/roboto-bold.woff") format("woff");
}
*/

@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=cyrillic'); */

.none {
  display: none;
}

.img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  
  /* Общие / преобладающие параметры шрифтов для всей страницы  */
  font-weight: normal;
  font-size: 14px;
  line-height: normal;
  line-height: 18px;
  /* text-transform: uppercase; */
  
  font-family: "PT Sans", "Arial", sans-serif;
  /* font-family: "Source Sans Pro", "Arial", sans-serif; */
  /* font-family: "Arial", sans-serif; */
  /* font-family: "Open Sans", "Arial", sans-serif; */

  /*Если в блоке задаём цвет фона, то сразу надо задать контрастный цвет текста.*/
  color: rgba(0,0,0,0.7);
  /*Зададим странице задний фон. Не забываем указать не только изображение, но и цвет фона.*/
  background: #ffffff url("../img/body-   bg.jpg") no-repeat center top;
}

@media (min-width: 480px) {
    body {
    min-width: 320px;
    margin: 0;
    padding: 0;
    
    /* Общие / преобладающие параметры шрифтов для всей страницы  */
    font-weight: normal;
    font-size: 16px;
    line-height: normal;
    line-height: 20px;
    /* text-transform: uppercase; */
    
    font-family: "PT Sans", "Arial", sans-serif;
    /* font-family: "Source Sans Pro", "Arial", sans-serif; */
    /* font-family: "Arial", sans-serif; */
    /* font-family: "Open Sans", "Arial", sans-serif; */

    /*Если в блоке задаём цвет фона, то сразу надо задать контрастный цвет текста.*/
    color: rgba(0,0,0,0.7);
    /*Зададим странице задний фон. Не забываем указать не только изображение, но и цвет фона.*/
    background: #ffffff url("../img/body-   bg.jpg") no-repeat center top;
  }
}

.page-header {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  
  /* border-bottom: 1px solid rgba(0,0,0,0.1); */
  /* box-shadow: 0 5px 10px -5px rgba(0,0,0,0.5); */
}

.page-header__top {
  padding: 10px;
  background-color: rgba(230,0,60,1.0);
  /* background-color: #98012E; */
  
  /* яскраво-малиновий */
  /* background-color: rgba(255,30,85,1.0); */
  /* background-color: rgba(255,30,85,0.8); */
  
  /* box-shadow: 0 10px 10px -5px rgba(0,0,0,0.5); */
  box-shadow: 0 7px 5px -5px rgba(0,0,0,0.5);
  /* box-shadow: 0 3px 5px 2px rgba(0,0,0,0.5); */

}

.page-header__logo {
  display: block;
  margin: 15px auto;
  /* width: 200px; */
  height: 73px;
  
  text-align: center;
}

.page-header__logo-image {
  width: 200px;
  height: 73px;
  /* height: auto; */
  /* height: 100%; */
  /* background-color: rgba(230,100,60,1.0); */
}

@media (min-width: 768px) {
  .page-header__top {
    box-sizing: border-box;
    display: flex;
    /* justify-content: space-between; */
    margin: 0 auto;
    width: 1020px;
    padding: 10px;
    
    box-shadow: none;
    box-shadow: 0 7px 5px -5px rgba(0,0,0,0.5);
  }
  
  .page-header__logo {
    margin: 15px 25px; 
  }
}

@media (min-width: 768px) {
  .main-nav {
    display: flex;
    flex-direction: column;
  }
  
  .main-nav__list  {
    display: flex;
    justify-content: space-between;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
  }

  .main-nav .user-list {
    display: flex;
    justify-content: space-between;
    display: none;
  }

}

.site-nav {
  position: relative;
  margin: 0;
  /* width: 320px; */
  
  /* box-shadow: 0 1px 0px 0px rgba(0,0,0,0.2); */
}

.site-nav__toggle {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  
  width: 70px;
  height: 50px;
  
  color: white;
  
  cursor: pointer;
  
  border: none;
  border: 1px solid rgba(0,0,0,0.2);
  /* border-top: 1px solid rgba(255,255,255,0.5); */
  /* background-color: rgba(230,0,60,1.0); */
  background-color: rgba(255,255,255,1.0);
  /* box-shadow: 0 7px 5px -5px rgba(0,0,0,0.5); */
  /* box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5); */
  /* box-shadow: 1px 1px 2px -1px rgba(0,0,0,0.5); */
}

.site-nav__toggle:hover {
  background-color: rgba(250,250,250,1.0);
  border-color: rgba(230,0,60,1.0);
}

.site-nav__toggle::before,
.site-nav__toggle::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 10px;
  
  display: block;
  width: 48px;
  height: 2px;
  background-color: rgba(0,0,0,0.5);
}

.site-nav__toggle::before {
  transform: rotate(45deg);
}

.site-nav__toggle::after {
  transform: rotate(-45deg);
}

.site-nav__list {
  margin: 0 70px;
}

@media (min-width: 768px) {
  .site-nav {
    width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
    
    box-shadow: 0 1px 0px 0px rgba(0,0,0,0.2)
  }

  .site-nav__toggle {
    display: none; 
  }
  
  .site-nav__list {
    /* max-width: 1200px; */
    margin: 0;
  }
}

.site-list {
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0,0,0,0.7);
  
  list-style: none;
  
  color: rgba(0,0,0,0.7);
}

.site-list__item {
  margin: 0 15px;
}

.site-list__item:hover {
}

.site-list__item > a {
  display: block;
  box-sizing: border-box;
  padding: 15px 15px;
  height: 50px; 
  
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.site-list__item > a:hover {
  color: rgba(0,0,0,0.9);
  
  background-color: rgba(0,0,0,0.05);
  border-color: rgba(230,0,60,1.0);
}

.site-list__item--active > a {
  cursor: default;
  /* border-bottom: 4px solid rgba(230,0,60,1.0); */
}

@media (min-width: 768px) {
  .site-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  
  .site-list__item {
    margin: 0 10px;
    margin-bottom: -2px;
    text-align: center;
    border-bottom: none;
  }
  
  .site-list__item > a {
    display: inline-block;
    margin: 0;
    
    border-bottom: none;
  }
  
  .site-list__item > a:hover {
    border-bottom: 4px solid rgba(230,0,60,1.0);
  }

  .site-list__item--active > a {
    cursor: default;
    border-bottom: 4px solid rgba(230,0,60,1.0);
  }
}

.open-item {
  /* position: relative; */
  /* padding: 10px 20px; */
  cursor: pointer;
}

.open-list {
  /* display: none; */
  margin: 0;
  padding: 0;
  list-style: none;
  
  box-shadow: 0 3px 5px 2px rgba(0,0,0,0.5);
}

.open-list__item {
  /* text-align: left; */
}

.open-list__item a {
  display: block;
  margin: 0;
  padding: 15px 15px;
  
  color: rgba(255,255,255,1.0);
  text-transform: uppercase;
  text-decoration: none;
  
  /* border-bottom: 4px solid transparent; */
  /* border-left: 4px solid transparent; */
  
  background-color: rgba(230,0,60,1.0);
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.open-list__item a:hover {
  color:  rgba(0,0,0,0.9);
  background-color: rgba(0,0,0,0.05);
}

@media (min-width: 768px) {
  .open-item {
    position: relative;
    cursor: pointer;
  }
  
  .open-list {
    display: none;
    
    /* background-color: rgba(255,255,255,1.0); */
  }
  
  .open-item:hover .open-list {
    display: block;
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 0;
    margin-top: -4px;
    /* border-top: 4px solid rgba(230,0,60,1.0); */
    box-shadow: 0 3px 5px 2px rgba(0,0,0,0.5);
  }
  
  .open-list__item a {
    margin: 0;
    padding: 15px 15px;
    
    color: rgba(255,255,255,1.0);
    text-align: left;
    
    /* border-bottom: 4px solid transparent; */
    /* border-left: 4px solid transparent; */
    
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }
  
  .open-list__item a:hover {
    background-color: rgba(245,242,245,1.0);
    color:  rgba(0,0,0,0.9);
  }
}

.main-container {
  margin: 0;
  padding: 0;
  /* min-width: 320px; */
  background-color: rgba(0,0,255,0.05);
}

@media (min-width: 768px) {
  .main-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 10px;
    width: 1020px;
    background-color: rgba(0,0,255,0.03);
  }
}

.left-column {
  margin: 0;
  /* padding: 0 10px; */
  min-width: 150px;
  background-color: rgba(255,0,0,0.05);
}

@media (min-width: 768px) {
  .left-column {
    margin: 0;
    margin-right: 10px;
    min-width: 150px;
  /*  width: 150px;*/
  }
}

.left-column__container {
  margin: 0;
  margin-bottom: 50px;
}

/* left-column__banner */
.left-column__banner {
  display: block;
  box-sizing: border-box; 
  margin: 0 auto;
  
  width: 300px;
  height: 100px;
  padding: 10px 0;
  
  font-size: 36px;
  font-weight: bold;
  color: rgba(255,255,255,0.5);
  text-align: center;
  
  background-color: #c42482;
  background-image: linear-gradient(222deg,#ff272d 0,#c42482 33%,#ab217f 47%,#671878 84%,#4a1475 100%);
}

.left-column__banner::before {
  content: "Банер 300*100";
}

@media (min-width: 768px) {
  .left-column__banner {
    margin: 0 auto;
    margin-bottom: 50px;
    
    text-align: center;
    
    background-color: #c42482;
    background-image: linear-gradient(222deg,#ff272d 0,#c42482 33%,#ab217f 47%,#671878 84%,#4a1475 100%);
  }
  
  .banner-left {
    width: 300px;
    height: 150px;
  }
  
  .banner-promo {
    font-size: 36px;
    font-weight: bold;
    color: rgba(255,255,255,0.5);
  }
}

.page-main {
  margin: 0;
  min-width: 320px;
}

@media (min-width: 768px) {
  .page-main {
    min-width: 490px;
    width: 490px;
  }
}

.promo {
  margin: 0 10px;
  min-width: 300px;
  display: flex;
  
  padding-bottom: 32px;
  
  /* border-bottom: 1px solid rgba(0,0,0,0.2); */
  /* box-shadow: 0 10px 10px -10px rgba(0,0,0,0.5); */
}

.promo a {
  color: inherit;
  text-decoration: none;
}

.promo a:hover {
  text-decoration: underline;
}

.promo img {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.promo h2 {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  font: inherit;
  color: inherit;
  font-weight: bold;
}

.promo .promo__authors {
  font-weight: normal;
}

@media (min-width: 768px) {
  .promo {
    display: flex;
    margin-bottom: 32px;
    padding-bottom: 32px;
    
    border-bottom: 1px solid rgba(0,0,0,0.2);
    /* box-shadow: 0 10px 10px -10px rgba(0,0,0,0.5); */
  }
  
  .promo a {
  }

  .promo a:hover {
  }

  .promo img {
  }

  .promo h2 {
  }

  .promo .promo__authors {
  }
}

.new-compositions {
  margin: 0 10px;
  margin-bottom: 50px;
//  padding-bottom: 25px;
  
//  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.new-compositions__title {
  margin: 0;
  padding: 0;
}

.section__caption {
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: normal;
  color: rgba(230,0,60,1.0);
  
  border-top: 1px solid rgba(0,0,0,0.2);
}

/*
.new-compositions__list li:nth-child(2n+1) {
  background-color: rgba(230,100,60,0.05);
}
*/

.compositions__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.compositions__list li {
  margin: 0;
  margin-bottom: 8px;
}

.compositions__list .compositions__date {
  font-size: 14px;
  color: rgba(0,0,0,0.4);
}

.compositions__list .compositions__title {
  font-weight: normal;
}

.compositions__list a {
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

.compositions__list a:hover {
  color: rgba(0,0,0,0.9);
  border-bottom: 1px solid rgba(0,0,0,0.7);
}

.compositions__list a:hover .compositions__date {
  color: rgba(0,0,0,0.7);
}

.compositions-list__title {
  margin: 0;
  margin-bottom: 20px;
}

.compositions-list__description {
  margin: 0;
  margin-bottom: 30px;
}

.compositions-list .the-end, 
.composition__text .the-end {
  font-weight: bold;
  text-align: center;
}

@media (min-width: 768px) {
  .new-compositions {
    margin-bottom: 50px;
  //  padding-bottom: 25px;
    
  //  border-bottom: 1px solid rgba(0,0,0,0.1);
  }

  .new-compositions__title {
    margin: 10px 0;
    padding: 0;
    
    font-size: 20px;
    line-height: 30px;
  }

  .compositions__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .compositions__list li {
    margin:  0;
    /* padding: 5px 0; */
    /* padding-bottom: 5px; */
    margin-bottom: 8px;
  }

  /*
  .new-compositions__list li:nth-child(2n+1) {
    background-color: rgba(230,100,60,0.05);
  }
  */

  .compositions__list .compositions__date {
    font-size: 14px;
    color: rgba(0,0,0,0.4);
  }

  .compositions__list .compositions__title {
    font-weight: normal;
  }

  .compositions__list a {
    display: inline-block;

    color: inherit;
    text-decoration: none;
    
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .compositions__list a:hover {
    color: rgba(0,0,0,0.9);
    border-bottom: 1px solid rgba(0,0,0,0.7);
  }

  .compositions__list a:hover .compositions__date {
    color: rgba(0,0,0,0.7);
  }

  .compositions-list__title {
    margin: 0;
    margin-bottom: 20px;
  }

  .compositions-list__description {
    margin: 0;
    margin-bottom: 30px;
  }

  .compositions-list .the-end, 
  .composition__text .the-end {
    font-weight: bold;
    text-align: center;
  }
}

.page-main__container {
  margin: 0;
  margin-bottom: 50px;
  min-width: 320px;
}

.page-main__banner {
  width: 300px;
  height: 100px;
  margin: 0 auto;
  
  font-size: 36px;
  font-weight: bold;
  color: rgba(255,255,255,0.5);
  text-align: center;
  
  background-color: #c42482;
  background-image: linear-gradient(to bottom, rgb(0, 62, 170) 40%, rgb(0, 78, 194) 60%, rgb(0, 96, 223) 80%, rgb(0, 128, 255) 90%, rgb(0, 199, 255) 100%);
}

.page-main__banner::before {
  content: "Банер 300*100";
}

@media (min-width: 768px) {
  .page-main__container {
  }
  
  .page-main__banner {
    width: 468px;
    height: 60px;
    
  }
  .page-main__banner::before {
    content: "Банер 468*60";
  }
}

.composition {
  margin: 0;
  margin-bottom: 50px;
}

.composition__caption {
  margin: 0 10px;
  margin-bottom: 10px;
}

.composition__video {
  position: relative;
  padding-bottom: 56.25%; 
  /* задаёт высоту контейнера для 16:9 */
  /* задаёт высоту контейнера для 4:3 */ 
  /* padding-bottom: 75%; */
  /* padding-top: 30px; */
  height: 0;
  overflow: hidden;
}

.composition__video iframe {
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  .composition {
  }

  .composition__caption {
    display: block;
    margin: 15px 0;
    font-size: inherit;
    color: rgba(0,0,0,0.9);
  }

  .composition__video {
    margin: 0;
    margin-bottom: 20px;
  }

  .composition__video iframe {
    box-shadow: 0 10px 10px -5px rgba(0,0,0,0.5);
  }
}

.composition__info {
  margin: 0 10px;
}

.composition__title {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 8px;
  font-size: 18px;
  /* font-weight: normal; */
  
  color: rgba(0,0,0,0.8);
}

.composition__reating {
  margin: 0;
  color: rgba(0,0,0,0.5);
  
/*  border-bottom: 1px solid rgba(0,0,0,0.2);*/
}

.reating__number {
  font-weight: normal;
  color: rgba(0,0,0,0.7);
}

.reating__number {
  font-weight: normal;
  color: rgba(0,0,0,0.7);
}

.composition__performer,
.composition__authors,
.release__info,
.release__label {
  margin: 0;
  font-size: 16px;
  color: rgba(0,0,0,0.5);
}

.composition__performer {
  margin-top: 10px;
  font-weight: normal;
}

.composition__performer a,
.composition__authors a {
  color: rgba(0,0,0,0.7);
}

.composition__performer a:hover,
.composition__authors a:hover {
  color: rgba(0,0,0,0.9);
}

@media (min-width: 768px) {
  .composition__info {
    margin: 0;
    margin-bottom: 16px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    /* box-shadow: 0 5px 5px -5px rgba(0,0,0,0.2); */
  }

  .composition__title {
    margin: 0;
    margin-top: 32px;
    margin-bottom: 16px;
    font-size: 20px;
    font-weight: bold;
    
    color: rgba(0,0,0,0.8);
  }

  .composition__reating {
    margin: 0;
    color: rgba(0,0,0,0.5);
    
  /*  border-bottom: 1px solid rgba(0,0,0,0.2);*/
  }

  .reating__number {
    font-weight: normal;
    color: rgba(0,0,0,0.7);
  }

  .composition__performer,
  .composition__authors,
  .release__info,
  .release__label {
    margin: 0;
    font-size: 16px;
    color: rgba(0,0,0,0.5);
  }

  .composition__performer {
    margin-top: 10px;
    font-weight: normal;
  }

  .composition__performer a,
  .composition__authors a {
    color: rgba(0,0,0,0.7);
  }

  .composition__performer a:hover,
  .composition__authors a:hover {
    color: rgba(0,0,0,0.9);
  }

  /*
  .composition__performer a,
  .composition__authors a {
    display: inline-block;
    color: rgba(0,0,0,0.7);
    text-decoration: none;
    
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }

  .composition__performer a:hover,
  .composition__authors a:hover {
    color: rgba(0,0,0,0.9);
    border-bottom: 1px solid rgba(0,0,0,0.7);
  }
  */
}

  .lyric {
    margin: 0 10px;

    margin-bottom: 32px;
    padding-bottom: 16px;
    
    border-bottom: 1px solid rgba(0,0,0,0.2);
    
    /* червона стрічка зліва */
    /*  margin-bottom: 16px;
    padding-bottom: 0;
    padding-left: 20px;*/
    /* padding-left: 40px; */
    /* border-left: 10px solid rgba(230,0,60,0.1); */
  }

@media (min-width: 768px) {
  .lyric {
    margin: 0;

    margin-bottom: 32px;
    padding-bottom: 16px;
  /*  padding-left: 20px;*/
    
    border-bottom: 1px solid rgba(0,0,0,0.2);
    
    /* червона стрічка зліва */
    /*  margin-bottom: 16px;
    padding-bottom: 0;
    padding-left: 20px;*/
    /* padding-left: 40px; */
    /* border-left: 10px solid rgba(230,0,60,0.1); */
  }

  .lyric .lyric__title {
    margin: 0;
    /* margin-top: 32px;  */
    margin-bottom: 16px; 
    
    font-size: 18px;
    font-weight: bold;
    color: rgba(0,0,0,0.8);
  }

  .lyric p {
    margin: 0;
  }

  .lyric .caption {
    margin: 0;
    margin-top: 16px;
    
    color: rgba(0,0,0,0.8);
  }

  .lyric .verse,
  .lyric .chorus {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .lyric .caption + .verse,
  .lyric .caption + .chorus {
    margin: 0;
    margin-top: 8px;
    margin-bottom: 16px;
  }

  .lyric .lyric__end {
    margin-top: 16px;
    margin-bottom: 16px; 
  }
}

.composition__release {
  margin: 0 10px;
  margin-bottom: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

  .composition__release a {
    color: rgba(0,0,0,0.7);
  }

  .composition__release a:hover {
    color: rgba(0,0,0,0.9);
  }

@media (min-width: 768px) {
  .composition__release {
    margin: 0;
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    /* box-shadow: 0 5px 5px -5px rgba(0,0,0,0.5); */
    /* box-shadow: 0 10px 10px -10px rgba(0,0,0,0.5); */
  }

  .composition__release a {
    color: rgba(0,0,0,0.7);
  }

  .composition__release a:hover {
    color: rgba(0,0,0,0.9);
  }

}

.right-column {
  margin: 0;
  min-width: 320px;
}

.right-column__container {
  margin: 0;
  margin-bottom: 50px;
  min-width: 320px;
}

.right-column__banner {
  margin: 0 auto;
  box-sizing: border-box; 
  width: 300px;
  height: 100px;
  padding: 10px 0;  

  font-size: 36px;
  font-weight: bold;
  color: rgba(255,255,255,0.5);
  text-align: center;
  
  background-color: #c42482;
  background-image: linear-gradient(to right,#00feff 0,#10fcb2 67%,#24f954 100%);
}

.right-column__banner::before {
  content: "Банер 300*600";
}

@media (min-width: 768px) {
  .right-column {
    margin: 0;
    /* margin-left: 10px; */
  /*  width: 320px;*/
    min-width: 320px;
  }

  .right-column__container {
  //  margin: 0 auto;
    width: 300px;
    height: 600px;

    text-align: center;

    background-image: linear-gradient(to right,#00feff 0,#10fcb2 67%,#24f954 100%);
  }

  .right-column__banner {
    font-size: 36px;
    font-weight: bold;
    color: rgba(255,255,255,0.5);
  }
}

.top-composition {
  margin: 0;
  min-width: 320px;
  
}

.slider {
  margin: 0 auto;
  position: relative;
  width: 300px;
  /* height: 180px; */
  border: 1px dotten black;
  
}

.page-footer {
  margin: 0;
  margin-top: 50px;
  padding: 0;
}

.page-footer__top {
  margin: 0 auto;
  width: 300px;
  padding: 10px;
  
  background-color: rgba(230,0,60,1.0);
}

.page-footer__content,
.page-footer__bottom {
  /* display: flex; */
  /* justify-content: space-between; */
  margin: 0 auto;
  /* width: 300px; */
  padding: 10px;
  
  background-color: rgba(230,0,60,1.0);
}

.page-footer__logo {
  display: none;
}

@media (min-width: 768px) {
  .page-footer {
    margin: 0 auto;
    margin-top: 50px;
    width: 1020px;
    padding: 0;
  }
  
  .page-footer__top {
    width: auto;
  }
  
  .page-footer__top,
  .page-footer__content,
  .page-footer__bottom {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 10px;
    
    background-color: rgba(230,0,60,1.0);
  }
  
  .page-footer__logo {
    display: block;
    margin: 10px 20px;
  }

  .page-footer__logo-link {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 0;
    /* font-size: 0; */
  }

  .page-footer__logo-image {
    margin: 0;
    padding: 0;
    width: 150px;
    /* height: 100%; */
    /* height: 54px; */
    height: auto;
  }
}

.page-footer__social {
  margin: auto 0px;
  font-size: 20px;
  color: rgba(255,255,255,1.0);
}

.social__title {
  display: inline-block;
  width: 150px;
  /* vertical-align:  top; */
}

.social__link {
  display: inline-block;
  /* vertical-align:  top; */
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: 0;
  vertical-align: middle;
  
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,1.0);
} 

.social__link--fb {
  background-image: url("../img/sprite.png");
  background-position: 0px -120px;
  background-repeat: no-repeat;
}

.social__link--yt {
  background-image: url("../img/sprite.png");
  background-position: 0px -200px;
  background-repeat: no-repeat;
}

.social__link--tw {
  background-image: url("../img/sprite.png");
  background-position: 0px -160px;
  background-repeat: no-repeat;
}

.social__link:hover {
  border: 1px solid rgba(255,255,255,0.5);
  background-color: rgba(230,0,60,1.0);
  background-color: rgba(255,255,255,0.1);;
}

@media (min-width: 768px) {
  .page-footer__social {
    margin: auto 20px;
    
    font-size: 20px;
    color: rgba(255,255,255,1.0);
  }

  .social__title {
    display: inline-block;
    margin: 0 20px;
    width: auto;
    /* vertical-align: auto; */
  }

  .social__link {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: inherit;
    font-size: 0;
    vertical-align: middle;
    
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,1.0);
  } 
} 

@media (min-width: 768px) {
  .page-footer__content {
    border-top: 1px solid rgba(255,255,255,0.3);
    
    color: rgba(255,255,255,1.0);
  }

  .page-footer__menu {
    margin: 0 20px;
  }

  /* .page-footer__menu.menu__project { */
    
  /* } */

  .page-footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .page-footer__list a {
    color: rgba(255,255,255,1.0);
    text-decoration: none;
  }

  .page-footer__list a:hover {
    text-decoration: underline;
  }

  .page-footer__title {
    margin: 5px 0;
    font-size: 20px;
  }

  .page-footer__bottom {
    color: rgba(255,255,255,1.0);
    
    border-top: 1px solid rgba(255,255,255,0.3);
  }

  .page-footer__copyright,
  .page-footer__development {
    margin: 10px 20px;
    padding: 0;
  }

  ..page-footer__development {
    /* text-transform: uppercase; */
  }

  .page-footer__development a {
    color: inherit;
    
    /* text-transform: uppercase; */
    text-decoration: none;
  }

  .page-footer__heart {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 0;
    vertical-align: top;
    background-image: url("../img/sprite.png");
    background-position: -5px -365px;
    background-repeat: no-repeat;
  }

  .page-footer__development a:hover {
    text-decoration: underline;
  }
}